*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: cadetblue;
}
#navbar{
    background-color: grey;
    overflow: hidden;
    border-radius: 10px;
}
#navbar *{
    float: left;
    color: white;
    margin: auto;
    padding: 14px 16px;
    font-size: large;
}
#navbar span{
    color: gold;
    border-color: white;
}
#navbar a:last-child{
    float: right;
}
#navbar a:hover{
    background-color: rgb(51, 64, 66);
}
#magic-search{
    padding: 5px;
    margin: 5px;
}
#magic-list{
    list-style-type: none;
    background-color: lightblue;
    margin: auto;
}
.magic{
    display: flex;
    background-color: beige;
    margin: 5px;
    justify-content: space-around;
}
#inventory{
    background-color: dodgerblue;
    display: grid;
    width: auto;
    grid-template-columns: repeat(6, 1fr);
    margin: 1%;
    gap: 1%;
    padding: 1%;
}
.item-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    height: 250px;
}
.item-description{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: crimson;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}
.item-numbers{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
}
.item-numbers div{
    text-align: center;
    padding: 8px;
    margin: 3px;
}
.button{
    background-color: orange;
    border-radius: 50%;
    width:auto;
}