/* Default stuff */
*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#message{
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10%;
    background-color: white;
    color: green;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    z-index: 2000;
}
body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: cadetblue;
}
/* Login stuff */
#login{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
}
#login div{
    margin: auto;
    background-color: aliceblue;
}
#login-form{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
#login-form *{
    margin: 10px
}
/* navbar stuff */
#navbar{
    background-color: grey;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    box-shadow: inset 0px -4px 10px rgba(0, 0, 0, 0.2); 
}
#navbar *{
    float: left;
    color: white;
    margin: auto;
    padding: 14px 16px;
    font-size: large;
}
#navbar span{
    color: gold;
    border-color: white;
}
#navbar a:last-child{
    float: right;
}
#navbar a:hover{
    background-color: rgb(51, 64, 66);
}
/* Magic exclusive */
#magic-search{
    padding: 5px;
    margin: 5px;
}
#magic-list{
    list-style-type: none;
    background-color: lightblue;
    margin: auto;
}
.magic{
    display: flex;
    background-color: beige;
    margin: 5px;
    justify-content: space-around;
}
/* Inventory exclusive */
#inventory{
    background-color: dodgerblue;
    border-radius: 10px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(6, 1fr);
    margin: 1%;
    gap: 1%;
    padding: 1%;
    min-height: 75vh;
}
.item-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
}
.item-name{
    position: relative;
    right: 20px;
}
.item-description{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: crimson;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}
.item-numbers{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
}
.item-numbers div{
    text-align: center;
    padding: 8px;
    margin: 3px;
}
#add-item-background{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    z-index: 3000;
}
#add-item-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#add-item-box *{
    margin: 5%;
}
#add-item-description{
    min-height: 20vh;
    min-width: 40vw;
}
/* Button stuff */
#add-button{
    position: fixed;
    border-radius: 20px;
    bottom: 50px;
    right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
    margin: 0px;
    z-index: 2000;
}
#add-item-hide{
    position: absolute;
    border-radius: 20px;
    bottom: 50px;
    right: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
    margin: 0px;
}
.remove-button{
    position: absolute;
    border-radius: 20px;
    top: 4px;
    right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
}
.button{
    background-color: orange;
    border-radius: 15px;
    width:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
}