/* Default stuff */
*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar{
    display: none;
}
#message{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    color: green;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    max-width: 60vw;
    z-index: 5000;
}
body, html{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: lightslategray;
}
body{
    font-family: 'Arial Narrow Bold', sans-serif;
}
#all{
    /* max-width: 100vw; */
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
.blue-text{
    color: blue;
}
/* Navbar stuff ------------------------------------------------------------------------- Navbar stuff */
#navbar-button{
    position: fixed;
    top: 0.3rem;
    left: 0.3rem;
    background-color: grey;
    border-radius: 1rem;
    z-index: 1000;
    padding: 0px;
    box-shadow: inset 0 0 10px #39000093;
}
#navbar-button-image{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
}
#navbar{
    display: flex;
    position: fixed;
    top: 3.5rem;
    left: 0.5rem;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 1000;
    transition: all 0.1s ease;
    overflow: hidden;
    white-space: nowrap;
}
#navbar.hidden{
    width: 0;
    opacity: 0;
}
#navbar *{
    color: white;
    padding: 0.2rem 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-decoration: none;
    width: auto;
}
#navbar a:hover{
    background-color: rgb(51, 64, 66);
}
#navbar span{
    color: gold;
    border-style: solid;
    border-width: 3px;
    border-color: gold;
}
#navbar a:last-child{
    margin-right: 0px;
    text-align:end;
}

/* Index stuff ---------------------------------------------------------------- Index stuff */
#character-info{
    /* background-image: url("../images/index-bg-mobile.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(113, 120, 126, 0.505);
    /* background-color: rgba(255, 255, 255, 0.7); */
}
#character-info, #character-sheet, #main-info-box, #secondary-info-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
#secondary-info-box{
    flex-direction: row;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0.8) solid;
    border-bottom: none;
    width: 95vw;
}
#character-name{
    margin: 1rem;
    padding: 0rem 0.5rem;
    font-size: 3rem;
    border-bottom: solid;
    border-color: rgb(75, 0, 0);
    border-radius: 5px;
    background-color: rgba(158, 158, 158, 0.9);
    box-shadow: inset 0 0 10px #5c0000;
}
#character-circles{
    margin: 1rem;
    font-size: 2rem;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.2rem;
    box-shadow: inset 0 0 10px #5c5100;
}
#character-money{
    margin: 1rem;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(161, 171, 179, 0.505);
    border-radius: 4px;
    border: 2px rgba(193, 205, 214, 0.9) solid;
}
#character-money-text{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.2rem;
    padding: 0.2rem;
}
#character-money-actions{
    position: relative;
    margin-left: 1rem;
}
#character-money-actions-row{
    display: flex;
    flex-direction: row;
    width: 13rem;
}
#character-money-actions-row *{
    width: 4rem;
    height: 3.5rem;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: solid;
    border-radius: 0.5rem;
    border-color: green;
    background-color: rgba(0, 0, 70, 0.65);
    color: white;
}
#character-money-input{
    box-sizing: border-box;
    width: 4rem;
    height: 3.5rem;
    outline: none;
    transition: all 0.1s ease;
}
#character-money-input:focus{
    width: 12.5rem;
    height: 4rem;
    background-color: rgba(0, 0, 70, 1);
    position: absolute;
    top: 0;
    right: 0;
}
#character-money-input:not(:focus){
    transition: none;
}
#character-description{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    border: 2px rgba(255, 255, 255, 0.8) solid;
    border-top: none;
    padding: 1rem;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#character-description::-webkit-scrollbar{
    display: none;
}
#character-visual{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
}
.character-image{
    width: 100%;
    height: auto;
}
.character-image-description{
    max-width: 95vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 15vh;
}
.character-image-description::-webkit-scrollbar{
    display: none;
}
/* Equipped items */
#equipped-items{
    display: flex;
    justify-content: space-around;
    align-items: end;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    flex-direction: column;
    max-height: 70%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#equipped-items::-webkit-scrollbar{
    display: none;
}
.equipped-item{
    text-align: right;
    color: rgb(100, 0, 0);
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0.5rem;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    width: fit-content;
    font-size: 1.3rem;
}
.equipped-item-description{
    display: none;
}

/* Inventory stuff ----------------------------------------------------------------- Inventory stuff */
#inventory-search-box{ /* TODO: this thingy is temporary until I figure out searching properly */
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
#item-search{
    margin: 5px;
    padding: 3px;
    border: 1px solid #ccc;
    background-color: rgba(167, 214, 255, 0.744);
    border-radius: 4px;
    color: black;
    transition: border-color 0.3s, background-color 0.3s;
    text-align: center;
    font-size: 1rem;
}
#item-search::placeholder{
    color:rgb(50, 39, 39);
}
#item-search:focus{
    outline: none;
    border-color: #4242e294;
    background-color: rgb(177, 255, 255);
}
#search-inventory-type-button{
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #2222ff;
    background-color: rgba(217, 237, 255, 0.7);
    border-radius: 4px;
    color: black;
}
.inventory-background{
    background-image: url("../images/leather-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#inventory{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#inventory::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
.item-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 14rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: dimgray;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
}
.item-box *{
    color: aliceblue;
}
.item-id{
    display: none;
}
.item-name{
    font-size: 1.5rem;
    border-bottom: solid;
    border-radius: 4px;
    border-width: 3px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.65);
    max-width: 80%;
    margin-top: 1rem;
    text-align: center;
}
.long-name-item-1{
    font-size: 0.7rem;
}
.long-name-item-2{
    font-size: 0.9rem;
}
.item-type{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item-numbers{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}
.item-numbers div{
    text-align: center;
    padding: 0.2rem;
    margin: 0.1rem;
    box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.5) inset;
}
.item-description{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95vw;
    height: 96vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.85);
    text-shadow: black 0px 0px 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 2000;
}
.item-description::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
.item-remove-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.2rem;
    left: 0.2rem;
}
.item-description-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.2rem;
    right: 0.2rem;
}
.item-edit-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.2rem;
    right: 0.2rem;
}
.item-favourite-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.2rem;
    left: 0.2rem;
    background-color: rgba(255, 217, 0, 0.4);
    border-radius: 0.5rem;
}
.item-equip-button{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background-color: rgba(0, 128, 0, 0.7);
    border-radius: 0.5rem;
}
#add-button{
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 1000;
}
/* Item creation menu */
#add-item-background{
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 0vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 3000;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.1s all ease-in-out;
}
#add-item-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/magic-circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 80%;
    aspect-ratio: 1/1;
}
#add-item-box *{
    margin: 2%;
}
.add-item-text{
    text-align: center;
	border: none;
	border-radius: 5px;
	outline: none;
    color: white;
    background-color: rgba(16, 36, 67, 0.742);
    max-width: 100%;
}
#add-item-name{
    width: 14ch;
    font-size: 2rem;
}
#add-item-type{
    width: 12ch;
    font-size: 1.6rem;
}
#add-item-charge-max{
    width: 12ch;
    font-size: 1.6rem;
}
#add-item-description{
    font-size: 1.2rem;
    min-height: 15vh;
    min-width: 40vw;
}
#add-item-hide{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 4rem;
    height: 4rem;
    z-index: 3001;
}
#add-item-confirm{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: 4rem;
    height: 4rem;
    z-index: 3001;
}
/* Magic stuff ------------------------------------------------------- Magic stuff */
#magic-search-inputs{
    /* display: none; */
    display: flex;
    position: absolute;
    z-index: 1000;
    height: 94vh;
    width: 0vw;
    padding: 3vh 0vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    white-space: nowrap;
    transition: 0.1s all ease-in-out;
}
#magic-search-inputs *{
    margin: 10px;
    font-size: 1.5rem;
}
#magic-search-confirm{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 40vh;
    left: 0;
}
#magic-search-cancel{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 40vh;
    right: 0;
}
#magic-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#magic-character-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0.3rem;
    right: 0.3rem;
    background-color: silver;
    border-radius: 1rem;
    z-index: 500;
    padding-left: 0.5rem;
    text-align: center;
}
#magic-character-circles-image{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}
#magic-list-container{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 96vw;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#magic-list-container::-webkit-scrollbar{
    display: none;
}
#magic-list{
    width: 100%;
    border-collapse: separate; /* FIXME: Figure out, how to do gaps differently, because
    the learn icon not being centered really bugs me, since it works on desktop*/
    border-spacing: 0 0.7rem;
}
.heading-magic{
    background-color: black;
    color: white;
}
.magic{
    background-color: rgba(255, 255, 255, 0.3);
}
.magic td{
    border-bottom: solid;
    border-color: rgba(0, 128, 0, 0.7);
    border-width: 2px;
}
.learned-magic{
    background-color: rgba(125, 255, 255, 0.4);
}
/* .magic-origin, .magic-complexity, .magic-fail, .magic-cast{
    text-align: center;
} */
.magic-text{
    text-align: center;
}
.magic-name{
    max-width: 10ch;
    text-align: start;
}
#magic-list tr:first-child{
    position: sticky;
    top: 0;
}
.magic-list-icon{
    height: 2rem;
    width: 2rem;
    filter: invert(1);
}
.magic-learn{
    /* I have actually no idea how i can make this icon not ugly 
    without breaking everything else || nvm fixed it (somewhat) */
    height: 100%; /*TODO: dunno if this is nescesary*/
    text-align: center;
}
.magic-learn-button{
    width: 2rem;
    height: 2rem;
}
#magic-info-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 0vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2000;
    transition: 0.1s all ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
.magic-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    color: white;
    height: 90%;
    width: 100vw;
}
.magic-info span, .magic-info * span{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid;
    border-color: rgba(134, 255, 136, 0.4);
    border-width: 2px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    text-align: center;
    max-height: 20vh;
    margin: 0.5vh;
}
.magic-info span::-webkit-scrollbar, .magic-info * span::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
.magic-detail-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.magic-detail-info:last-child{
    flex-direction: row;
}
.magic-detail-name{
    font-size: 2rem;
    border-width: 20px;
}
.magic-detail-effects{
    font-size: 1.2rem;
}
.magic-detail-stats{
    font-size: 1.2rem;
}
/* Magic learn menu */
#learn-magic-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 3000;
}
#learn-magic-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/magic-circle.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}
.learn-magic-text{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.2rem;
    font-size: 2rem;
    border-bottom: solid;
    border-color: rgba(56, 56, 255, 0.85);
    border-width: 3px;
    border-radius: 4px;
    max-width: 90vw;
}
.learn-magic-number{
    border: none;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid;
    border-color: rgba(56, 56, 255, 0.85);
    border-width: 3px;
    border-radius: 4px;
    max-width: 90vw;
}
.learn-magic-number::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
/* Wiki stuff --------------------------------------------------------------------------- Wiki stuff */
#wiki-data{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.wiki-text-field{
    margin: 0.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: 2px solid #2222ff;
    background-color: rgba(217, 237, 255, 0.54);
    border-radius: 4px;
    color: black;
    transition: all 0.1s ease;
}
#wiki-name{
    font-size: 2rem;
    max-width: 70vw;
}
#wiki-tags:focus{
    width: 90vw;
}
.wiki-text-field:hover,
.wiki-text-field:focus{
    outline: none;
    border-color: #2a2a96;
    background-color: rgba(191, 255, 255, 0.767);
}
#wiki-new-button{
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#wiki{
    display: flex;
    height: 85%;
}
#wiki-content{
    background-color: rgba(161, 171, 179, 0.505);
    height: 85vh;
    width: 95vw;
    margin: auto;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    border: 2px rgba(193, 205, 214, 0.505) solid;
    padding: 0.5%;
}
#wiki-content-edit{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 99%;
    width: 99%;
}
#lore-search-button{
    position: fixed;
    top: 0.3rem;
    right: 0.3rem;
    background-color: grey;
    border-radius: 1rem;
    z-index: 3000;
    padding: 0px;
    box-shadow: inset 0 0 10px #14000093;
}
#lore-search-button-image{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
}
#lore-list-container{
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0vw;
    z-index: 2000;
    transition: 0.1s all ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#lore-search-box{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 4rem;
}
#lore-search-box *{
    height: 5vh;
    font-size: 1.6rem;
}
#search-lore-input{
    max-width: 60vw;
}
#lore-list{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 94vw;
    padding: 3vw;
    height: 80vh;
}
.lore-item{
    margin: 0.2rem;
    padding: 0.1rem;
}
.lore-item-access{
    font-size: 1.1rem;
    color: greenyellow;
    padding-right: 1rem;
    padding-left: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
.lore-item-name{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.lore-restricted{
    color: rgb(255, 101, 101);
}
.lore-exception{
    color: aquamarine;
}
/* Calendar stuff ------------------------------------------------------------------------------------ Calendar stuff */
.calendar-id{
    display: none;
}
.calendar-date{
    font-size: 1.6rem;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
}
.calendar-characters{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-character{
    border: 1px transparent solid;
    text-shadow: 0 1px black;
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 3px;
}
.with-note{
    border: 1px black solid;
}
.calendar-available{
    font-size: 1.4rem;
}
.calendar-note{
    font-size: 1.2rem;
    width: 80vw;
}
#save-calendar-btn{
    font-size: 2rem;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}
#calendar-container{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-bottom: 4rem;
}
.calendar-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.8);
}
.calendar-row *{
    margin: 0.2rem;
}
.calendar-add-btn{
    font-size: 2rem;
}
.calendar-danger-btn{
    font-size: 0.5rem;
    margin-top: 30rem;
}
/* Admin stuff --------------------------------------------------------------------------- Admin stuff */
#admin-edit-switch{
    height: 1.4rem;
    width: 1.4rem;
    filter: invert(1);
}
/* Admin links.php ----------------------------------------------------------------------------------------- Admin links.php */
#admin-links-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#admin-links-container *{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}
/* Magic edit ---------------------------------------------------------------------------------------------- Magic edit */
#edit-magic-id{
    /* font-size: 1.5rem; */
    /* padding: 0.8rem; */
    /* margin: 0.8rem; */
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.9);
    border-radius: 0.2rem;
}
#edit-magic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-magic-row{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#edit-magic-row-1, #edit-magic-row-2{
    justify-content: center;
}
.edit-magic-text{
    text-align: center;
}
.edit-magic-textarea{
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    resize: none;
    outline: none;
    width: 20vw;
    height: 10vh;
}
.edit-magic-textarea:focus{
    background-color: rgba(174, 225, 255, 0.5);
}
/* Magic edit list */
#magic-edit-body .magic-all-edit{
    height: 60vh;
    width: 92vw;
    margin: 4vw;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: start;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#magic-list-container::-webkit-scrollbar{
    display: none;
}
.magic-text-hide{
    display: none;
}
.magic-edit .magic-tags{
    display: none;
}
/* Create character stuff --------------------------------------------------------------------------------------- Create character stuff */
#create-character-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#character-create-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    width: 95vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
#character-create-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.character-create-text{
    height: 5vh;
    font-size: 1.2rem;
    text-align: center;
    max-width: 90%;
}
#create-name{
    height: 6vh;
    font-size: 1.5rem;
}
#create-description{
    height: 4vh;
}
#character-create-submit{
    font-size: 2rem;
}
#create-id{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 4px;
}
#character-list-container{
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 95vw;
    height: 50vh;
}
#character-list-container::-webkit-scrollbar{
    display: none;
}
#character-list{
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}
#character-list tr td{
    padding: 5px;
}
#character-list tr:first-child{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}
#character-list tr:first-child *{
    padding: 10px;
    font-size: large;
    border-bottom: 3px #2222ff solid;
}
.character-list-row{
    background-color: rgba(255, 255, 255, 0.6);
}
.character-list-row *{
    text-align: center;
}
#character-list-heading-description,
.character-list-description,
#character-list-heading-money,
.character-list-money{
    display: none;
}
