/* Default stuff */
*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar{ /*Chrome (i think?)*/
    display: none;
}
#messages{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2000;
}
#messages *{
    max-width: 15vw;
    background-color: white;
    color: green;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    margin: 3px;
    text-align: center;
}
#messages *.error{
    color: red;
}
#messages *.warning{
    color: blue;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: lightslategray;
    font-family: 'Arial Narrow Bold', sans-serif;
}
#all{
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
.blue-text{
    color: blue;
}
/* navbar stuff --------------------------------------------------------------------------*/
#navbar{
    background-color: grey;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px;
    box-shadow: inset 0px -4px 10px rgba(0, 0, 0, 0.2);
}
#navbar *{
    float: left;
    color: white;
    margin: auto;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
}
#navbar span{
    color: gold;
    border-color: white;
}
#navbar a:last-child{
    float: right;
}
#navbar a:hover{
    background-color: rgb(51, 64, 66);
}
/* Index stuff ---------------------------------------------------------------------------*/
#character-info{
    display: flex;
    flex-direction: row;
}
#character-sheet{
    width: 60%;
    display: flex;
    flex-direction: column;
}
#main-info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(161, 171, 179, 0.505);
    border-radius: 4px;
    border: 2px rgba(193, 205, 214, 0.505) solid;
    /* padding: 0.5%; */
    margin: 2%;
}
#main-info-box *{
    font-size: 1.8rem;
    color: black;
}
#character-name{
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
    font-size: 3rem;
}
#secondary-info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
}
#secondary-info-box *{
    font-size: 1.5rem;
    color: White;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
#character-money{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#character-money-number{
    color: gold;
    text-shadow: 1px 1px rgb(255, 179, 0, 0.7);
}
#character-money-actions{
    position: relative;
    margin-left: 1rem;
}
#character-money-actions-row{
    display: flex;
    flex-direction: row;
    width: 13rem;
}
#character-money-actions-row *{
    width: 4rem;
    height: 3.5rem;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: solid;
    border-radius: 1rem;
    border-color: green;
    background-color: rgba(0, 0, 70, 0.5);
    color: white;
}
#character-money-input{
    box-sizing: border-box;
    width: 4rem;
    height: 3.5rem;
    outline: none;
    transition: all 0.1s ease;
}
#character-money-input:focus{
    width: 12.5rem;
    height: 4rem;
    background-color: rgba(0, 0, 70, 1);
    position: absolute;
    top: 0;
    right: 0;
}
#character-money-input:not(:focus){
    transition: none;
}
#character-description{
    padding: 2%;
    margin: 2%;
    background-color: rgba(161, 171, 179, 0.505);
    border-radius: 4px;
    border: 2px rgba(193, 205, 214, 0.505) solid;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* word-break: break-word; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#character-description::-webkit-scrollbar{
    display: none;
}
#character-visual{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    max-height: 90vh;
}
.character-image{
    max-height: 90%;
    width: 90%;
    height: auto;
    display: block;
    object-fit: contain;
}
.character-image-description{
    max-height: 25%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.character-image-description::-webkit-scrollbar{
    display: none;
}
/* Equipped items */
#equipped-items{
    display: flex;
    justify-content: space-around;
    align-items: end;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    flex-direction: column;
    max-height: 70%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
#equipped-items::-webkit-scrollbar{
    display: none;
}
.equipped-item{
    text-align: right;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0.5rem;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    width: fit-content;
    font-size: 1.3rem;
}
.equipped-item-description{
    display: none;
}
/* Magic exclusive -------------------------------------------------------------------- Magic exclusive */
#magic-search-inputs{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#magic-search-inputs *{
    padding: 5px;
    margin: 5px;
}
#magic-search-confirm, #magic-search-cancel{
    display: none;
}
#magic-character-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 6rem;
    right: 0.3rem;
    background-color: silver;
    border-radius: 1rem;
    z-index: 1000;
    padding: 0px;
    padding-left: 3px;
    text-align: center;
}
#magic-character-circles-image{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}
.magic-text{
    text-align: center;
}
.magic-name{
    text-align: start;
}
#magic-list{
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}
#magic-list tr td{
    padding: 10px;
}
#magic-list tr:first-child{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}
#magic-list tr:first-child *{
    padding: 10px;
    font-size: large;
    border-bottom: 3px #2222ff solid;
}
.magic-learn{
    display:flex;
    justify-content: center;
    align-items: center;
}
.magic-learn-button{
    height: 3.5vh;
    width: auto;
}
#magic-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85vh;
    width: 95vw;
    /* background-color: rgb(186, 255, 232); */
    margin: auto;
}
#magic-list-container{
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 45vw;
    height: 85vh;
    background-color: rgba(186, 203, 182, 0.3);
    border-radius: 8px;
}
#magic-list-container::-webkit-scrollbar{
    display: none;
}
.magic{
    background-color: rgba(255, 255, 255, 0.4);
}
.learned-magic{
    background-color: rgba(125, 125, 255, 0.7);
}
#magic-info-container{
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 85vh;
    /* background-color: aqua; */
}
#magic-info-container::-webkit-scrollbar{
    display: none;
}
.magic-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    min-width: 40vw;
    max-width: 45vw;
    max-height: 85vw;
    background-color: gray;
    border: 3px rgb(80, 80, 80) solid;
    border-radius: 5px;
    display: none;
}
.magic-detail-name{
    font-size: xx-large;
    text-align: center;
}
.magic-detail-stats{
    text-align: center;
}
.magic-info span, .magic-info * span{
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px blue solid;
    border-radius: 3px;
    padding: 6px;
    white-space: pre-wrap;
    min-width: 10vw;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 25vh;
    margin: 5px;
}
.magic-info span::-webkit-scrollbar, .magic-info * span::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
.magic-detail-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.magic-detail-info *{
    max-width: 15vw;
}
#learn-magic-background{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    z-index: 3000;
}
#learn-magic-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-image: url("../images/magic-circle.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}
#learn-magic-box *{
    margin: 5%;
}
.learn-magic-text{
    text-align: center;
	padding: 0;
	/* background: none; */
	border: none;
	border-radius: 5px;
	outline: none;
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
    color: white;
    -webkit-text-stroke: 0.2px black;
    background-color: rgba(16, 36, 67, 0.742);
    max-width: 100%;
}
#learn-magic-id{
    display: none;
}
#learn-magic-name{ /* TODO: Isn't this thing just .learn-magic-text?*/
    min-width: 14ch;
    size: 14ch;
    font-size: xx-large;
}
.learn-magic-number{
    font-size: x-large;
    text-align: center;
	padding: 0;
	border: none;
	border-radius: 5px;
	outline: none;
    color: white;
    -webkit-text-stroke: 0.2px black;
    background-color: rgba(16, 36, 67, 0.742);
    max-width: 100%;
    width: min-content;
}
/* Inventory exclusive ------------------------------------------------------------ Inventory exclusive */
#inventory{
    border-radius: 30px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(6, 1fr);
    margin: 1%;
    margin-top: 0.5%;
    gap: 1%;
    padding: 0.5%;
    min-height: 75vh;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#inventory::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
#inventory::after{
    content: '';
    display: block;
    height: 40vh;
}
.inventory-background{
    background-image: url("../images/leather-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.item-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-width: 0.3rem;
    border-color: dimgray;
    border-radius: 10px;
    height: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 12px 24px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s, transform 0.1s;
    opacity: 1;
    transform: scale(1);
    /* This defines the state BEFORE the element is in the DOM */
    @starting-style {
        opacity: 0;
        transform: scale(0.9);
    }
}
.item-box *{
    color: aliceblue;
}
.item-id{
    display: none;
}
.item-name{
    font-size: 2rem;
    border-style: solid;
    border-radius: 2px;
    border-width: 3px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.65);
    max-width: 80%;
}
.long-name-item-1{
    font-size: 1rem;
}
.long-name-item-2{
    font-size: 1.4rem;
}
.item-type{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item-description{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95vw;
    height: 92vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 5vh;
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.85);
    text-shadow: black 0px 0px 20px;
    color: white;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 2000;
}
.item-description::-webkit-scrollbar{ /* Chrome and safari */
    display: none;
}
.item-numbers{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}
.item-numbers div{
    text-align: center;
    padding: 8px;
    margin: 3px;
    box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.5) inset;
}
#inventory-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}
#item-search{
    /* margin: 10px auto 10px auto; */
    margin: 10px;
    width: 15rem;
    height: 2rem;
    border: 1px solid #ccc;
    background-color: rgba(167, 214, 255, 0.744);
    border-radius: 4px;
    color: black;
    transition: border-color 0.3s, background-color 0.3s;
    text-align: center;
    font-size: 1rem;
}
#item-search::placeholder{
    color:rgb(50, 39, 39);
}
#item-search:focus{
    outline: none;
    border-color: #4242e294;
    background-color: rgb(177, 255, 255);
}
#search-inventory-type-button{
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #2222ff;
    background-color: rgb(217, 237, 255);
    border-radius: 4px;
    color: black;
}
/* Add item stuff */
#add-item-background{
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 0vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    z-index: 3000;
    transition: 0.15s all ease-in-out;
    overflow: hidden;
    white-space: unset;
}
#add-item-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-image: url("../images/magic-circle.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}
#add-item-box *{
    margin: 5%;
}
.add-item-text{
    text-align: center;
	padding: 0;
	/* background: none; */
	border: none;
	border-radius: 5px;
	outline: none;
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
    color: white;
    -webkit-text-stroke: 0.2px black;
    background-color: rgba(16, 36, 67, 0.742);
    max-width: 100%;
}
#add-item-name{
    width: 14ch;
    font-size: 3rem;
}
#add-item-type{
    width: 10ch;
    font-size: 2rem;
}
#add-item-charge-max{
    width: 12ch;
    font-size: 2rem;
}
#add-item-description{
    font-size: 1.5rem;
    min-height: 20vh;
    min-width: 28vw;
}
/* Button stuff ---------------------------------------------------------------------*/
#add-button{
    position: fixed;
    border-radius: 20px;
    bottom: 3vh;
    right: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 10vh;
    height: 10vh;
    margin: 0px;
    z-index: 2000;
}
#add-item-hide{
    position: absolute;
    border-radius: 20px;
    bottom: 3vh;
    right: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 10vh;
    height: 10vh;
    margin: 0px;
}
#add-item-confirm{
    position: absolute;
    border-radius: 20px;
    bottom: 3vh;
    left: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 10vh;
    height: 10vh;
    margin: 0px;
}
.item-remove-button{
    position: absolute;
    border-radius: 0.5rem;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 12px 24px rgba(0, 0, 0, 0.2);
    width: 1.2rem;
    height: 1.2rem;
    z-index: 500;
}
.item-description-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.2rem;
    right: 0.2rem;
}
.item-edit-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.2rem;
    right: 0.2rem;
}
.item-favourite-button{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.2rem;
    left: 0.2rem;
    background-color: rgba(255, 217, 0, 0.4);
    border-radius: 0.5rem;
}
.item-equip-button{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background-color: rgba(0, 128, 0, 0.7);
    border-radius: 0.5rem;
}
/* Wiki stuff --------------------------------------------------------------------------------------- Wiki stuff */
#wiki-data{
    position: relative;
    display: flex;
    width: 100vw;
    height: 3rem;
}
.wiki-text-field{
    margin: 0.5rem;
    padding-left: 0.2rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    border: none;
    border-bottom: 2px solid #2222ff;
    background-color: rgba(217, 237, 255, 0.54);
    border-radius: 4px;
    color: black;
    transition: all 0.1s ease;
}
#wiki-name{
    font-size: 1.2rem;
    min-width: 10vw;
    width: fit-content;
    max-width: 20vw;
    padding-left: 4px;
    padding-right: 4px;
}
#wiki-tags{
    width: 10vw;
    overflow: hidden;
    word-break: keep-all;
}
#wiki-tags:focus{
    width: 30vw;
}
.wiki-text-field:hover,
.wiki-text-field:focus{
    outline: none;
    border-color: #2a2a96;
    background-color: rgba(191, 255, 255, 0.767);
}
#wiki-new-button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    text-decoration: none;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#wiki{
    /* background-color: rebeccapurple; */
    display: flex;
    height: 85%;
}
#wiki-content{
    background-color: rgba(161, 171, 179, 0.505);
    height: 93%;
    width: 74%;
    margin-top: 1%;
    margin-left: 1%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    border: 2px rgba(193, 205, 214, 0.505) solid;
    padding: 0.5%;
}
#wiki-content-edit{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 99%;
    width: 99%;
    /* padding: 2.5%; */
}
#lore-search-button{
    display: none;
}
#lore-list-container{
    position: relative;
    height: 95%;
    width: 22%;
    margin-top: 1%;
    margin-left: 1%;
}
#lore-search-box{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10%;
}
#lore-search-box *{
    height: 2rem;
}
#lore-list{
    display: flex;
    flex-direction: column;
    height: 90%;
    /* background-color: blue; */
    overflow-x: hidden;
    overflow-y: auto;
}
.lore-item{
    margin: 0.2rem;
    padding: 0.1rem;
}
.lore-item:hover{
    background-color: grey;
    border-bottom: 2px #2222ff solid;
    border-top: 2px transparent solid;
    border-radius: 3px;
}
.lore-item-access{
    font-size: 1.1rem;
    color: greenyellow;
    padding-right: 1rem;
    padding-left: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
.lore-item-name{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.lore-restricted{
    color: rgb(255, 101, 101);
}
.lore-exception{
    color: aquamarine;
}
/* Calendar stuff ------------------------------------------------------------------------------------ Calendar stuff */
.calendar-id{
    display: none;
}
.calendar-date{
    font-size: 1.6rem;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
}
.calendar-characters{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-character{
    border: 1px transparent solid;
    text-shadow: 0 1px black;
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 3px;
}
.with-note{
    border: 1px black solid;
}
.calendar-available{
    font-size: 1.4rem;
}
.calendar-note{
    font-size: 1.2rem;
    width: 50ch;
}
#save-calendar-btn{
    margin: 1rem;
    font-size: 2rem;
}
#calendar-container{
    display: flex;
    flex-direction: column;
}
.calendar-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.8);
}
.calendar-row *{
    margin: 0.2rem;
}
.calendar-add-btn{
    font-size: 2rem;
}
.calendar-danger-btn{
    font-size: 0.5rem;
    margin-top: 30rem;
}
/* Admin stuff --------------------------------------------------------------------------------------- Admin stuff */
#admin-edit-switch{
    height: 1.3rem;
    width: 1.3rem;
    filter: invert(1);
}
/* Admin links.php ----------------------------------------------------------------------------------------- Admin links.php */
#admin-links-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#admin-links-container *{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}
/* Magic edit ---------------------------------------------------------------------------------------------- Magic edit */
#edit-magic-id{
    font-size: 1.5rem;
    padding: 0.8rem;
    margin: 0.8rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px 8px rgba(255, 255, 255, 0.9);
    border-radius: 0.2rem;
}
#edit-magic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-magic-row{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#edit-magic-row-1, #edit-magic-row-2{
    justify-content: center;
}
.edit-magic-text{
    margin: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}
#edit-magic-row-1 *{
    font-size: 2rem;
    padding: 0.2rem;
}
.edit-magic-textarea{
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    resize: none;
    outline: none;
    width: 20vw;
    height: 10vh;
}
.edit-magic-textarea:focus{
    background-color: rgba(174, 225, 255, 0.5);
}
/* Magic edit list */
.magic-edit-table{
    height: fit-content;
}
.magic-text-hide{
    display: none;
}
.magic-edit .magic-name{
    font-size: 1.2rem;
}
.magic-edit .magic-tags{
    white-space: pre-wrap;
}
/* Upload Image stuff --------------------------------------------------------------------------------------- Upload Image stuff */

/* Create character stuff --------------------------------------------------------------------------------------- Create character stuff */
#create-character-container{
    display: flex;
    flex-direction: row;
}
#character-create-box{
    position: relative;
    height: 90vh;
    width: 45vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
#character-create-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}
.character-create-text{
    height: 5vh;
    font-size: 1.5rem;
    text-align: center;
}
#create-name{
    height: 6vh;
    font-size: 2rem;
}
#create-description{
    height: 4vh;
}
#character-create-submit{
    font-size: 2rem;
}
#create-id{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 4px;
}
#character-list-container{
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 50vw;
    height: 90vh;
}
#character-list-container::-webkit-scrollbar{
    display: none;
}
#character-list{
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}
#character-list tr td{
    padding: 10px;
}
#character-list tr:first-child{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}
#character-list tr:first-child *{
    padding: 10px;
    font-size: large;
    border-bottom: 3px #2222ff solid;
}
.character-list-row{
    background-color: rgba(255, 255, 255, 0.6);
}
